<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--jq-->
    <script src="../../js/jquery.min.js"></script>
    <!--bootstrap-->
    <script src="../../bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <!--layui-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <!--<script src="../../layui/layui.all.js"></script>-->

    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-xs12">
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="">控制台<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="">修改信息</a></dd>
                    <dd><a href="">安全管理</a></dd>
                    <dd><a href="">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-col-xs12">
        <div class="layui-row">
            <div class="layui-col-xs2">
                <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">默认展开</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/adminReader">读者管理</a></dd>
                            <dd  class="layui-this"><a href="javascript:;">图书管理</a></dd>
                            <dd><a href="javascript:;">热门推荐管理</a></dd>
                            <dd><a href="">跳转项</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">移动模块</a></dd>
                            <dd><a href="">后台模版</a></dd>
                            <dd><a href="">电商平台</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">社区</a></li>
                </ul>
            </div>
            <div class="layui-col-xs10">
                <table class="layui-hide" id="test" lay-filter="test"></table>

                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                    </div>
                </script>

                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
    <div class="layui-col-xs12"></div>
</div>
<script src="/layui/layui.all.js" charset="UTF-8"></script>
<script>
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
        });
    });
</script>
</body>
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            console.log(elem);
            //console.log(elem)
            /*layer.msg(elem.text());*/
        });
    });
</script>
<script  th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#test'
            ,url:'/allbook'
            ,toolbar: '#toolbarDemo'
            ,title: '图书数据表'
            ,parseData:function (res) {
                var list=eval(res).list;
                var total=eval(res).total;
                console.log(eval(res));
                return{
                    "code":0,
                    "msg":"",
                    "count":total,
                    data:list,
                }
            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{field:'bookid', title:'图书ID', width:80, fixed: 'left', unresize: true, sort: true}
                ,{field:'bookname', title:'书名', width:120, edit: 'text'}
                ,{field:'author', title:'作者', width:80, edit: 'text', sort: true}
                ,{field:'printwhere', title:'出版社',edit:'text', width:150}
                ,{field:'introduction', title:'介绍',edit:'text',width:100}
                ,{field:'note', title:'备注', width:80, sort: true}
                ,{field:'booktype', title:'图书类型', width:120}
                ,{field:'brrownum', title:'借阅次数', width:100, sort: true}
                ,{field:'flowernum', title:'获得鲜花',edit:'text', width:120}
                ,{field:'photoadd', title:'图片地址',edit:'text', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){//获取用户id并将之删除
                layer.confirm('真的删除用户" '+data.bookid+' "么', function(index){
                    obj.del();
                    $.ajax({
                        type:"post",
                        url:"delreader",
                        dara:"bookid="+data.bookid
                    })
                    layer.close(index);
                  });
            }
        });
        table.on('edit(test)',function (obj) {//监听单元格修改时间
            $.ajax({
                type:"post",
                url:"edit",
                data:"readerid="+obj.data.readerid+"&field="+obj.value,
                success:function (res) {
                    res=eval(res);
                    if (res=="success"){
                        layer.msg("成功")
                    }
                    else
                        layer.msg("失败")
                }
            })
        })
    });
</script>

</html>